<div class="container">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input id="name" formControlName="name" type="text" />
      <div *ngIf="submitted && formControls['name'].errors" class="error">
        Name is required and must be at least 2 characters.
      </div>
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
      <div *ngIf="submitted && formControls['email'].errors" class="error">
        Valid email is required.
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />
      <div *ngIf="submitted && formControls['password'].errors" class="error">
        Password is required and must be at least 6 characters.
      </div>
    </div>
    <button type="submit">Register</button>
  </form>
</div>
